*.pdf
.DS_Store
.vscode
venv
__pycache__

reports
news
reports_overview.xlsx
baier.txt
baier_env.txt
baier_gov.txt
baier_soc.txt

Loughran-McDonald_MasterDictionary_1993-2021.csv
positive.txt
negative.txt
uncertain.txt

notes.txt
todo.txt
